<!DOCTYPE HTML>
<html lang="uk">
<%- include('../blocks/head.ejs'); %>
    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <%- include('../blocks/navbar_sidebar.ejs'); %>
                <div class="col py-3 bg-light">
                    <%- include('../blocks/control.ejs'); %>

                    <%- include('../blocks/table_start.ejs'); %>
                    <%- include('../blocks/table_executors.ejs'); %>
                    <%- include('../blocks/table_end.ejs'); %>

                    <%- include('../blocks/modal_confirm.ejs'); %>
                    <%- include('../blocks/modal_add_exec.ejs'); %>
                </div>
            </div>
        </div>
        <%- include('../blocks/scripts.ejs'); %>
    </body>
</html>