<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <span class="fs-4 d-none d-sm-inline"><%= title %></span>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a class="<%= page_id === '0' ? "nav-link active" : "nav-link" %>" href="/main">
                    <img src="/web_application/frontend/icons/main.jpg" alt="main" width="40" height="40"> <span class="ms-1 d-none d-sm-inline">Головна сторінка</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="<%= page_id === '1' ? "nav-link active" : "nav-link" %>" href="/executors">
                    <img src="/web_application/frontend/icons/executor.jpg" alt="executor" width="40" height="40"> <span class="ms-1 d-none d-sm-inline">Виконавці</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="<%= page_id === '2' ? "nav-link active" : "nav-link" %>" href="/customers">
                    <img src="/web_application/frontend/icons/customer.jpg" alt="customer" width="40" height="40"> <span class="ms-1 d-none d-sm-inline">Замовники</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="<%= page_id === '3' ? "nav-link active" : "nav-link" %>" href="/projects">
                    <img src="/web_application/frontend/icons/project.jpg" alt="project" width="40" height="40"> <span class="ms-1 d-none d-sm-inline">Проекти</span>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>
        
